body {
    color: burlywood;
    display: grid;
    height: 100%;
}

#main, #header, #footer {
    padding-left: 2%;
    background-color: purple;

}

#container-botao {
    display: flex;
    justify-content: center;
}
